In [1]:
#Simple python functions I revisited through my progress in this career track

#Print the quotient of 5 and 8
print(5 / 8)

0.625

In [2]:
# Print the sum of 7 and 10
print(7+10)

17

In [3]:
# Addition, subtraction
print(5 + 5)
print(5 - 5)

10
0

In [4]:
# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

15
5.0
4
16

In [5]:
# How much is $100 worth after 7 years and 10% annual growth rate?
print(100*(1.1**7))

194.87171000000012

In [6]:
# Create a variable savings
savings = 100

# Print out savings
print(savings)

100

In [7]:
# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result
result = savings*growth_multiplier**7

# Print out result
print(result)

194.87171000000012

In [8]:
# Create a variable desc
desc = "compound interest"

# Create a variable profitable
profitable = True

# Assign product of growth_multiplier and savings to year1

year1 = growth_multiplier*savings

# Print the type of year1
print(type(year1))

<class 'float'>

In [9]:
# Assign sum of desc and desc to doubledesc
doubledesc = desc+desc
# Print out doubledesc
print(doubledesc)

compound interestcompound interest

In [10]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

In [11]:
#Convert from string to float

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)

In [12]:
#Creating and mannipulating lists

# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [13]:
# Adapt list areas
areas = ["hallway",hall,"kitchen", kit, "living room", liv,"bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [14]:
# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [15]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

11.25
9.5
20.0

In [16]:
# Sum of kitchen and bedroom area: eat_sleep_area

eat_sleep_area= areas[3]+ areas[-3]
# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

In [17]:
# Use slicing to create downstairs
downstairs = areas[:6]

# Use slicing to create upstairs
upstairs = areas[6:]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [18]:
# Correct the bathroom area
areas[-1]=10.50

# Change "living room" to "chill zone"
areas[4]="chill zone"

In [19]:
# Add poolhouse data to areas, new list is areas_1

areas_1 = areas + ["poolhouse", 24.5]
# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1+["garage", 15.45]

In [20]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = list(areas)

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [21]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

# Print out type of var1
print(type(var1))

# Print out length of var1
print(len(var1))

# Convert var2 to an integer: out2
out2 = int(var2)

<class 'list'>
4

In [22]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first+second

# Sort full in descending order: full_sorted

full_sorted =sorted(full, reverse=True)
# Print out full_sorted
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

In [23]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place: place_up

place_up= place.upper()
# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count('o'))

poolhouse
POOLHOUSE
3

In [24]:
 #Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 9.50 appears in areas

print(areas.count(9.50))

2
1

In [25]:
# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)


# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()
print(areas)

# Print out areas

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

In [26]:
# Definition of radius
r = 0.43

# Import the math package
import math as mt

# Calculate C
C = 2*mt.pi*r

# Calculate A
A = mt.pi*r**2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

In [27]:
# Definition of radius
r = 192500

# Import radians function of math package
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
dist = r * radians(12)

# Print out dist
print(dist)

40317.10572106901

In [28]:
# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Import the numpy package as np

import numpy as np
# Create a numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out type of np_baseball
print(type(np_baseball))

<class 'numpy.ndarray'>

In [39]:
# height is available as a regular list

# Import pandas
import pandas as pd

#Read csv file containing information on baseball players
df_heights = pd.read_csv('Heights Baseball.csv')
df_heights.head()

#Retreive only the heights of the baseball players as a list
height_in = df_heights['Height(inches)'].tolist()
print(height_in)

[74, 74, 72, 72, 73, 69, 69, 71, 76, 71, 73, 73, 74, 74, 69, 70, 72, 73, 75, 78, 79, 76, 74, 76, 72, 71, 75, 77, 74, 73, 74, 78, 73, 75, 73, 75, 75, 74, 69, 71, 74, 73, 73, 76, 74, 74, 70, 72, 77, 74, 70, 76, 75, 73, 75, 76, 76, 78, 74, 74, 76, 77, 81, 78, 75, 77, 75, 76, 74, 72, 72, 75, 73, 73, 73, 70, 70, 70, 76, 68, 71, 72, 75, 75, 75, 75, 68, 74, 78, 71, 73, 76, 74, 74, 79, 75, 73, 76, 74, 74, 73, 72, 74, 73, 74, 72, 73, 69, 72, 73, 75, 75, 73, 72, 72, 76, 74, 72, 76, 77, 74, 77, 75, 76, 80, 74, 74, 75, 78, 73, 73, 74, 75, 76, 71, 73, 74, 76, 76, 74, 73, 74, 70, 72, 73, 73, 73, 73, 71, 74, 74, 72, 74, 71, 74, 75, 73, 75, 75, 79, 73, 75, 76, 74, 76, 78, 74, 76, 72, 74, 76, 74, 75, 78, 75, 72, 74, 72, 74, 70, 71, 70, 75, 71, 71, 73, 72, 71, 73, 72, 75, 70, 74, 74, 75, 73, 77, 73, 76, 75, 74, 76, 75, 73, 71, 76, 75, 72, 71, 77, 73, 74, 71, 72, 74, 75, 73, 72, 75, 75, 74, 72, 74, 71, 70, 75, 74, 77, 77, 75, 75, 78, 75, 76, 73, 75, 75, 79, 77, 76, 71, 75, 74, 69, 71, 76, 72, 72, 70, 72, 73, 71, 72, 71, 73, 72, 73, 74, 74, 72, 73, 75, 74, 74, 77, 75, 73, 72, 71, 74, 77, 75, 75, 75, 78, 78, 74, 76, 78, 76, 70, 72, 80, 74, 74, 71, 70, 72, 71, 74, 71, 72, 71, 74, 69, 76, 75, 75, 76, 73, 76, 73, 77, 73, 72, 72, 77, 77, 71, 74, 74, 73, 78, 75, 73, 70, 74, 72, 73, 73, 75, 75, 74, 76, 73, 74, 75, 73, 75, 72, 73, 73, 72, 74, 78, 76, 73, 74, 75, 70, 75, 71, 72, 78, 75, 73, 73, 71, 75, 77, 72, 69, 73, 74, 72, 70, 75, 70, 72, 72, 74, 73, 74, 75, 76, 75, 80, 72, 75, 73, 74, 74, 73, 75, 75, 71, 73, 75, 74, 74, 72, 74, 74, 74, 73, 76, 75, 72, 73, 73, 73, 72, 72, 72, 72, 71, 75, 77, 75, 74, 73, 75, 79, 74, 76, 73, 74, 74, 72, 74, 74, 75, 78, 74, 74, 74, 77, 70, 73, 74, 73, 71, 75, 71, 72, 77, 74, 70, 77, 73, 77, 74, 72, 76, 71, 76, 78, 75, 73, 78, 74, 79, 75, 76, 72, 75, 75, 70, 72, 70, 74, 71, 76, 73, 76, 71, 69, 72, 72, 69, 73, 69, 73, 74, 74, 72, 71, 74, 73, 72, 72, 76, 76, 76, 74, 76, 75, 71, 72, 71, 73, 75, 76, 75, 71, 75, 74, 72, 73, 73, 73, 73, 76, 72, 76, 73, 73, 73, 75, 75, 77, 73, 72, 75, 70, 74, 72, 80, 71, 71, 74, 74, 73, 75, 76, 73, 77, 72, 73, 77, 76, 71, 75, 73, 74, 77, 71, 72, 73, 69, 73, 70, 74, 76, 73, 73, 75, 73, 79, 74, 73, 74, 77, 75, 74, 73, 77, 73, 77, 74, 74, 73, 77, 74, 77, 75, 77, 75, 71, 74, 70, 79, 72, 72, 70, 74, 74, 72, 73, 72, 74, 74, 76, 82, 74, 74, 70, 73, 73, 74, 77, 72, 76, 73, 73, 72, 74, 74, 71, 72, 75, 74, 74, 77, 70, 71, 73, 76, 71, 75, 74, 72, 76, 79, 76, 73, 76, 78, 75, 76, 72, 72, 73, 73, 75, 71, 76, 70, 75, 74, 75, 73, 71, 71, 72, 73, 73, 72, 69, 73, 78, 71, 73, 75, 76, 70, 74, 77, 75, 79, 72, 72, 77, 73, 75, 75, 75, 73, 73, 76, 77, 75, 70, 71, 71, 75, 74, 69, 70, 75, 72, 75, 73, 72, 72, 72, 76, 75, 74, 75, 69, 73, 72, 72, 75, 77, 76, 80, 77, 76, 79, 71, 75, 73, 76, 77, 73, 76, 70, 75, 73, 75, 70, 69, 71, 72, 72, 73, 70, 70, 73, 76, 75, 72, 73, 79, 71, 72, 74, 74, 74, 72, 76, 76, 72, 72, 71, 72, 72, 70, 77, 74, 72, 76, 71, 76, 71, 73, 70, 73, 73, 72, 71, 71, 71, 72, 72, 74, 74, 74, 71, 72, 75, 72, 71, 72, 72, 72, 72, 74, 74, 77, 75, 73, 75, 73, 76, 72, 77, 75, 72, 71, 71, 75, 72, 73, 73, 71, 70, 75, 71, 76, 73, 68, 71, 72, 74, 77, 72, 76, 78, 81, 72, 73, 76, 72, 72, 74, 76, 73, 76, 75, 70, 71, 74, 72, 73, 76, 76, 73, 71, 68, 71, 71, 74, 77, 69, 72, 76, 73, 75, 76, 75, 76, 72, 74, 76, 74, 72, 75, 78, 77, 70, 72, 79, 74, 71, 68, 77, 75, 71, 72, 70, 72, 72, 73, 72, 74, 72, 72, 75, 72, 73, 74, 72, 78, 75, 72, 74, 75, 75, 76, 74, 74, 73, 74, 71, 74, 75, 76, 74, 76, 76, 73, 75, 75, 74, 68, 72, 75, 71, 70, 72, 73, 72, 75, 74, 70, 73, 76, 71, 82, 72, 73, 74, 71, 75, 77, 72, 74, 72, 73, 78, 77, 73, 73, 73, 73, 73, 76, 75, 70, 73, 72, 73, 75, 74, 73, 73, 76, 73, 75, 70, 77, 72, 77, 74, 75, 75, 75, 75, 72, 74, 71, 76, 71, 75, 76, 83, 75, 74, 76, 72, 72, 75, 75, 72, 77, 73, 72, 70, 74, 72, 74, 72, 71, 70, 71, 76, 74, 76, 74, 74, 74, 75, 75, 71, 71, 74, 77, 71, 74, 75, 77, 76, 74, 76, 72, 71, 72, 75, 73, 68, 72, 69, 73, 73, 75, 70, 70, 74, 75, 74, 74, 73, 74, 75, 77, 73, 74, 76, 74, 75, 73, 76, 78, 75, 73, 77, 74, 72, 74, 72, 71, 73, 75, 73, 67, 67, 76, 74, 73, 70, 75, 70, 72, 77, 79, 78, 74, 75, 75, 78, 76, 75, 69, 75, 72, 75, 73, 74, 75, 75, 73]

In [38]:
# Create a numpy array from height_in: np_height_in
np_height_in = np.array(height_in)

# Print out np_height_in

print(np_height_in)
# Convert np_height_in to m: np_height_m

np_height_m = np_height_in * 0.0254

# Print np_height_m
print(np_height_m)

[74 74 72 ... 75 75 73]
[1.8796 1.8796 1.8288 ... 1.905  1.905  1.8542]

In [41]:
#Retreive only the weights of the baseball players as a list
weight_lb = df_heights['Weight(pounds)'].tolist()

# Create array from weight_lb with metric units: np_weight_kg
np_weight_kg  = np.array(weight_lb)* 0.453592

# Calculate the BMI: bmi
bmi = np_weight_kg / np_height_m **2

# Print out bmi
print(bmi)

[23.11037639 27.60406069 28.48080465 ... 25.62295933 23.74810865
 25.72686361]

In [42]:
# Create the light array
light = bmi<21

# Print out light
print(light)


# Print out BMIs of all baseball players whose BMI is below 21
print(bmi[light])

[False False False ... False False False]
[20.54255679 20.54255679 20.69282047 20.69282047 20.34343189 20.34343189
 20.69282047 20.15883472 19.4984471  20.69282047 20.9205219 ]

C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in less

In [45]:
# Print out the weight at index 50
np_weight_lb = np.array(weight_lb)
print(np_weight_lb[50])

# Print out sub-array of np_height_in: index 100 up to and including index 110
print(np_height_in[100:111])

195.0
[73 72 74 73 74 72 73 69 72 73 75]

In [46]:
# Create baseball, a list of lists
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]


# Create a 2D numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out the type of np_baseball
print(type(np_baseball))

# Print out the shape of np_baseball
print(np_baseball.shape)

<class 'numpy.ndarray'>
(4, 2)

In [55]:

#Concatenate lists into a 2d list from full baseball
baseball = [list(a) for a in zip(height_in, weight_lb)]
print(baseball)

# Create a 2D numpy array from baseball: np_baseball
np_baseball = np.array(baseball)


# Print out the shape of np_baseball
print(np_baseball.shape)

[[74, 180.0], [74, 215.0], [72, 210.0], [72, 210.0], [73, 188.0], [69, 176.0], [69, 209.0], [71, 200.0], [76, 231.0], [71, 180.0], [73, 188.0], [73, 180.0], [74, 185.0], [74, 160.0], [69, 180.0], [70, 185.0], [72, 197.0], [73, 189.0], [75, 185.0], [78, 219.0], [79, 230.0], [76, 205.0], [74, 230.0], [76, 195.0], [72, 180.0], [71, 192.0], [75, 225.0], [77, 203.0], [74, 195.0], [73, 182.0], [74, 188.0], [78, 200.0], [73, 180.0], [75, 200.0], [73, 200.0], [75, 245.0], [75, 240.0], [74, 215.0], [69, 185.0], [71, 175.0], [74, 199.0], [73, 200.0], [73, 215.0], [76, 200.0], [74, 205.0], [74, 206.0], [70, 186.0], [72, 188.0], [77, 220.0], [74, 210.0], [70, 195.0], [76, 244.0], [75, 195.0], [73, 200.0], [75, 200.0], [76, 212.0], [76, 224.0], [78, 210.0], [74, 205.0], [74, 220.0], [76, 195.0], [77, 200.0], [81, 260.0], [78, 228.0], [75, 270.0], [77, 200.0], [75, 210.0], [76, 190.0], [74, 220.0], [72, 180.0], [72, 205.0], [75, 210.0], [73, 220.0], [73, 211.0], [73, 200.0], [70, 180.0], [70, 190.0], [70, 170.0], [76, 230.0], [68, 155.0], [71, 185.0], [72, 185.0], [75, 200.0], [75, 225.0], [75, 225.0], [75, 220.0], [68, 160.0], [74, 205.0], [78, 235.0], [71, 250.0], [73, 210.0], [76, 190.0], [74, 160.0], [74, 200.0], [79, 205.0], [75, 222.0], [73, 195.0], [76, 205.0], [74, 220.0], [74, 220.0], [73, 170.0], [72, 185.0], [74, 195.0], [73, 220.0], [74, 230.0], [72, 180.0], [73, 220.0], [69, 180.0], [72, 180.0], [73, 170.0], [75, 210.0], [75, 215.0], [73, 200.0], [72, 213.0], [72, 180.0], [76, 192.0], [74, 235.0], [72, 185.0], [76, 230.0], [77, 235.0], [74, 210.0], [77, 222.0], [75, 210.0], [76, 230.0], [80, 220.0], [74, 180.0], [74, 190.0], [75, 200.0], [78, 210.0], [73, 194.0], [73, 180.0], [74, 190.0], [75, 240.0], [76, 200.0], [71, 198.0], [73, 200.0], [74, 195.0], [76, 210.0], [76, 220.0], [74, 190.0], [73, 210.0], [74, 225.0], [70, 180.0], [72, 185.0], [73, 170.0], [73, 185.0], [73, 185.0], [73, 180.0], [71, 178.0], [74, 175.0], [74, 200.0], [72, 204.0], [74, 211.0], [71, 190.0], [74, 210.0], [75, 240.0], [73, 190.0], [75, 190.0], [75, 185.0], [79, 290.0], [73, 175.0], [75, 185.0], [76, 200.0], [74, 220.0], [76, 170.0], [78, 220.0], [74, 190.0], [76, 220.0], [72, 205.0], [74, 200.0], [76, 250.0], [74, 225.0], [75, 215.0], [78, 210.0], [75, 215.0], [72, 195.0], [74, 200.0], [72, 194.0], [74, 220.0], [70, 180.0], [71, 180.0], [70, 170.0], [75, 195.0], [71, 180.0], [71, 170.0], [73, 206.0], [72, 205.0], [71, 200.0], [73, 225.0], [72, 201.0], [75, 225.0], [70, 226.0], [74, 233.0], [74, 180.0], [75, 225.0], [73, 180.0], [77, 220.0], [73, 180.0], [76, 237.0], [75, 215.0], [74, 190.0], [76, 235.0], [75, 190.0], [73, 180.0], [71, 165.0], [76, 195.0], [75, 200.0], [72, 190.0], [71, 190.0], [77, 185.0], [73, 185.0], [74, 205.0], [71, 190.0], [72, 205.0], [74, 206.0], [75, 220.0], [73, 208.0], [72, 170.0], [75, 195.0], [75, 210.0], [74, 190.0], [72, 211.0], [74, 230.0], [71, 170.0], [70, 185.0], [75, 230.0], [74, 185.0], [77, 241.0], [77, 225.0], [75, 210.0], [75, 175.0], [78, 230.0], [75, 200.0], [76, 215.0], [73, 198.0], [75, 226.0], [75, 278.0], [79, 215.0], [77, 230.0], [76, 240.0], [71, 184.0], [75, 219.0], [74, 170.0], [69, 218.0], [71, 190.0], [76, 225.0], [72, 220.0], [72, 176.0], [70, 190.0], [72, 197.0], [73, 204.0], [71, 167.0], [72, 180.0], [71, 195.0], [73, 220.0], [72, 215.0], [73, 185.0], [74, 190.0], [74, 205.0], [72, 205.0], [73, 200.0], [75, 200.0], [74, 210.0], [74, 215.0], [77, 200.0], [75, 205.0], [73, 211.0], [72, 190.0], [71, 208.0], [74, 200.0], [77, 210.0], [75, 232.0], [75, 230.0], [75, 210.0], [78, 220.0], [78, 210.0], [74, 202.0], [76, 212.0], [78, 225.0], [76, 170.0], [70, 190.0], [72, 200.0], [80, 237.0], [74, 220.0], [74, 170.0], [71, 193.0], [70, 190.0], [72, 150.0], [71, 220.0], [74, 200.0], [71, 190.0], [72, 185.0], [71, 185.0], [74, 200.0], [69, 172.0], [76, 220.0], [75, 225.0], [75, 190.0], [76, 195.0], [73, 219.0], [76, 190.0], [73, 197.0], [77, 200.0], [73, 195.0], [72, 210.0], [72, 177.0], [77, 220.0], [77, 235.0], [71, 180.0], [74, 195.0], [74, 195.0], [73, 190.0], [78, 230.0], [75, 190.0], [73, 200.0], [70, 190.0], [74, 190.0], [72, 200.0], [73, 200.0], [73, 184.0], [75, 200.0], [75, 180.0], [74, 219.0], [76, 187.0], [73, 200.0], [74, 220.0], [75, 205.0], [73, 205.0], [75, 190.0], [72, 170.0], [73, 160.0], [73, 215.0], [72, 175.0], [74, 205.0], [78, 200.0], [76, 214.0], [73, 200.0], [74, 190.0], [75, 180.0], [70, 205.0], [75, 220.0], [71, 190.0], [72, 215.0], [78, 235.0], [75, 191.0], [73, 200.0], [73, 181.0], [71, 200.0], [75, 210.0], [77, 240.0], [72, 185.0], [69, 165.0], [73, 190.0], [74, 185.0], [72, 175.0], [70, 155.0], [75, 210.0], [70, 170.0], [72, 175.0], [72, 220.0], [74, 210.0], [73, 205.0], [74, 200.0], [75, 225.0], [76, 205.0], [75, 195.0], [80, 240.0], [72, 150.0], [75, 200.0], [73, 215.0], [74, 202.0], [74, 200.0], [73, 190.0], [75, 205.0], [75, 190.0], [71, 160.0], [73, 215.0], [75, 185.0], [74, 200.0], [74, 190.0], [72, 210.0], [74, 185.0], [74, 220.0], [74, 190.0], [73, 202.0], [76, 205.0], [75, 220.0], [72, 175.0], [73, 160.0], [73, 190.0], [73, 200.0], [72, 229.0], [72, 206.0], [72, 220.0], [72, 180.0], [71, 195.0], [75, 175.0], [77, 250.0], [75, 188.0], [74, 230.0], [73, 190.0], [75, 200.0], [79, 190.0], [74, 219.0], [76, 235.0], [73, 180.0], [74, 180.0], [74, 180.0], [72, 200.0], [74, 234.0], [74, 185.0], [75, 220.0], [78, 223.0], [74, 200.0], [74, 210.0], [74, 200.0], [77, 210.0], [70, 190.0], [73, 177.0], [74, 227.0], [73, 180.0], [71, 195.0], [75, 199.0], [71, 175.0], [72, 185.0], [77, 240.0], [74, 210.0], [70, 180.0], [77, 194.0], [73, 225.0], [77, 275.0], [74, 195.0], [72, 180.0], [76, 205.0], [71, 193.0], [76, 230.0], [78, 230.0], [75, 220.0], [73, 200.0], [78, 249.0], [74, 190.0], [79, 208.0], [75, 245.0], [76, 250.0], [72, 160.0], [75, 192.0], [75, 220.0], [70, 170.0], [72, 197.0], [70, 155.0], [74, 190.0], [71, 200.0], [76, 220.0], [73, 210.0], [76, 228.0], [71, 190.0], [69, 160.0], [72, 184.0], [72, 180.0], [69, 180.0], [73, 200.0], [69, 176.0], [73, 160.0], [74, 222.0], [74, 211.0], [72, 195.0], [71, 200.0], [74, 210.0], [73, 225.0], [72, 175.0], [72, 206.0], [76, 240.0], [76, 185.0], [76, 260.0], [74, 185.0], [76, 221.0], [75, 205.0], [71, 200.0], [72, 170.0], [71, 201.0], [73, 205.0], [75, 185.0], [76, 205.0], [75, 245.0], [71, 220.0], [75, 210.0], [74, 220.0], [72, 185.0], [73, 175.0], [73, 170.0], [73, 180.0], [73, 200.0], [76, 210.0], [72, 175.0], [76, 220.0], [73, 206.0], [73, 180.0], [73, 210.0], [75, 195.0], [75, 200.0], [77, 200.0], [73, 164.0], [72, 180.0], [75, 220.0], [70, 195.0], [74, 205.0], [72, 170.0], [80, 240.0], [71, 210.0], [71, 195.0], [74, 200.0], [74, 205.0], [73, 192.0], [75, 190.0], [76, 170.0], [73, 240.0], [77, 200.0], [72, 205.0], [73, 175.0], [77, 250.0], [76, 220.0], [71, 224.0], [75, 210.0], [73, 195.0], [74, 180.0], [77, 245.0], [71, 175.0], [72, 180.0], [73, 215.0], [69, 175.0], [73, 180.0], [70, 195.0], [74, 230.0], [76, 230.0], [73, 205.0], [73, 215.0], [75, 195.0], [73, 180.0], [79, 205.0], [74, 180.0], [73, 190.0], [74, 180.0], [77, 190.0], [75, 190.0], [74, 220.0], [73, 210.0], [77, 255.0], [73, 190.0], [77, 230.0], [74, 200.0], [74, 205.0], [73, 210.0], [77, 225.0], [74, 215.0], [77, 220.0], [75, 205.0], [77, 200.0], [75, 220.0], [71, 197.0], [74, 225.0], [70, 187.0], [79, 245.0], [72, 185.0], [72, 185.0], [70, 175.0], [74, 200.0], [74, 180.0], [72, 188.0], [73, 225.0], [72, 200.0], [74, 210.0], [74, 245.0], [76, 213.0], [82, 231.0], [74, 165.0], [74, 228.0], [70, 210.0], [73, 250.0], [73, 191.0], [74, 190.0], [77, 200.0], [72, 215.0], [76, 254.0], [73, 232.0], [73, 180.0], [72, 215.0], [74, 220.0], [74, 180.0], [71, 200.0], [72, 170.0], [75, 195.0], [74, 210.0], [74, 200.0], [77, 220.0], [70, 165.0], [71, 180.0], [73, 200.0], [76, 200.0], [71, 170.0], [75, 224.0], [74, 220.0], [72, 180.0], [76, 198.0], [79, 240.0], [76, 239.0], [73, 185.0], [76, 210.0], [78, 220.0], [75, 200.0], [76, 195.0], [72, 220.0], [72, 230.0], [73, 170.0], [73, 220.0], [75, 230.0], [71, 165.0], [76, 205.0], [70, 192.0], [75, 210.0], [74, 205.0], [75, 200.0], [73, 210.0], [71, 185.0], [71, 195.0], [72, 202.0], [73, 205.0], [73, 195.0], [72, 180.0], [69, 200.0], [73, 185.0], [78, 240.0], [71, 185.0], [73, 220.0], [75, 205.0], [76, 205.0], [70, 180.0], [74, 201.0], [77, 190.0], [75, 208.0], [79, 240.0], [72, nan], [72, 180.0], [77, 230.0], [73, 195.0], [75, 215.0], [75, 190.0], [75, 195.0], [73, 215.0], [73, 215.0], [76, 220.0], [77, 220.0], [75, 230.0], [70, 195.0], [71, 190.0], [71, 195.0], [75, 209.0], [74, 204.0], [69, 170.0], [70, 185.0], [75, 205.0], [72, 175.0], [75, 210.0], [73, 190.0], [72, 180.0], [72, 180.0], [72, 160.0], [76, 235.0], [75, 200.0], [74, 210.0], [75, 224.0], [69, 180.0], [73, 190.0], [72, 197.0], [72, 203.0], [75, 205.0], [77, 170.0], [76, 200.0], [80, 250.0], [77, 200.0], [76, 220.0], [79, 200.0], [71, 190.0], [75, 170.0], [73, 190.0], [76, 220.0], [77, 215.0], [73, 206.0], [76, 215.0], [70, 185.0], [75, 235.0], [73, 188.0], [75, 230.0], [70, 195.0], [69, 168.0], [71, 190.0], [72, 160.0], [72, 200.0], [73, 200.0], [70, 189.0], [70, 180.0], [73, 190.0], [76, 200.0], [75, 220.0], [72, 187.0], [73, 240.0], [79, 190.0], [71, 180.0], [72, 185.0], [74, 210.0], [74, 220.0], [74, 219.0], [72, 190.0], [76, 193.0], [76, 175.0], [72, 180.0], [72, 215.0], [71, 210.0], [72, 200.0], [72, 190.0], [70, 185.0], [77, 220.0], [74, 170.0], [72, 195.0], [76, 205.0], [71, 195.0], [76, 210.0], [71, 190.0], [73, 190.0], [70, 180.0], [73, 220.0], [73, 190.0], [72, 186.0], [71, 185.0], [71, 190.0], [71, 180.0], [72, 190.0], [72, 170.0], [74, 210.0], [74, 240.0], [74, 220.0], [71, 180.0], [72, 210.0], [75, 210.0], [72, 195.0], [71, 160.0], [72, 180.0], [72, 205.0], [72, 200.0], [72, 185.0], [74, 245.0], [74, 190.0], [77, 210.0], [75, 200.0], [73, 200.0], [75, 222.0], [73, 215.0], [76, 240.0], [72, 170.0], [77, 220.0], [75, 156.0], [72, 190.0], [71, 202.0], [71, 221.0], [75, 200.0], [72, 190.0], [73, 210.0], [73, 190.0], [71, 200.0], [70, 165.0], [75, 190.0], [71, 185.0], [76, 230.0], [73, 208.0], [68, 209.0], [71, 175.0], [72, 180.0], [74, 200.0], [77, 205.0], [72, 200.0], [76, 250.0], [78, 210.0], [81, 230.0], [72, 244.0], [73, 202.0], [76, 240.0], [72, 200.0], [72, 215.0], [74, 177.0], [76, 210.0], [73, 170.0], [76, 215.0], [75, 217.0], [70, 198.0], [71, 200.0], [74, 220.0], [72, 170.0], [73, 200.0], [76, 230.0], [76, 231.0], [73, 183.0], [71, 192.0], [68, 167.0], [71, 190.0], [71, 180.0], [74, 180.0], [77, 215.0], [69, 160.0], [72, 205.0], [76, 223.0], [73, 205.0], [75, 175.0], [76, 170.0], [75, 190.0], [76, 240.0], [72, 175.0], [74, 230.0], [76, 223.0], [74, 196.0], [72, 167.0], [75, 195.0], [78, 190.0], [77, 250.0], [70, 190.0], [72, 190.0], [79, 190.0], [74, 170.0], [71, 160.0], [68, 150.0], [77, 225.0], [75, 220.0], [71, 209.0], [72, 210.0], [70, 176.0], [72, 260.0], [72, 195.0], [73, 190.0], [72, 184.0], [74, 180.0], [72, 195.0], [72, 195.0], [75, 219.0], [72, 225.0], [73, 212.0], [74, 202.0], [72, 185.0], [78, 200.0], [75, 209.0], [72, 200.0], [74, 195.0], [75, 228.0], [75, 210.0], [76, 190.0], [74, 212.0], [74, 190.0], [73, 218.0], [74, 220.0], [71, 190.0], [74, 235.0], [75, 210.0], [76, 200.0], [74, 188.0], [76, 210.0], [76, 235.0], [73, 188.0], [75, 215.0], [75, 216.0], [74, 220.0], [68, 180.0], [72, 185.0], [75, 200.0], [71, 210.0], [70, 220.0], [72, 185.0], [73, 231.0], [72, 210.0], [75, 195.0], [74, 200.0], [70, 205.0], [73, 200.0], [76, 200.0], [71, 190.0], [82, 250.0], [72, 185.0], [73, 180.0], [74, 170.0], [71, 180.0], [75, 208.0], [77, 235.0], [72, 215.0], [74, 244.0], [72, 220.0], [73, 185.0], [78, 230.0], [77, 190.0], [73, 200.0], [73, 180.0], [73, 190.0], [73, 196.0], [73, 180.0], [76, 230.0], [75, 224.0], [70, 160.0], [73, 178.0], [72, 205.0], [73, 185.0], [75, 210.0], [74, 180.0], [73, 190.0], [73, 200.0], [76, 257.0], [73, 190.0], [75, 220.0], [70, 165.0], [77, 205.0], [72, 200.0], [77, 208.0], [74, 185.0], [75, 215.0], [75, 170.0], [75, 235.0], [75, 210.0], [72, 170.0], [74, 180.0], [71, 170.0], [76, 190.0], [71, 150.0], [75, 230.0], [76, 203.0], [83, 260.0], [75, 246.0], [74, 186.0], [76, 210.0], [72, 198.0], [72, 210.0], [75, 215.0], [75, 180.0], [72, 200.0], [77, 245.0], [73, 200.0], [72, 192.0], [70, 192.0], [74, 200.0], [72, 192.0], [74, 205.0], [72, 190.0], [71, 186.0], [70, 170.0], [71, 197.0], [76, 219.0], [74, 200.0], [76, 220.0], [74, 207.0], [74, 225.0], [74, 207.0], [75, 212.0], [75, 225.0], [71, 170.0], [71, 190.0], [74, 210.0], [77, 230.0], [71, 210.0], [74, 200.0], [75, 238.0], [77, 234.0], [76, 222.0], [74, 200.0], [76, 190.0], [72, 170.0], [71, 220.0], [72, 223.0], [75, 210.0], [73, 215.0], [68, 196.0], [72, 175.0], [69, 175.0], [73, 189.0], [73, 205.0], [75, 210.0], [70, 180.0], [70, 180.0], [74, 197.0], [75, 220.0], [74, 228.0], [74, 190.0], [73, 204.0], [74, 165.0], [75, 216.0], [77, 220.0], [73, 208.0], [74, 210.0], [76, 215.0], [74, 195.0], [75, 200.0], [73, 215.0], [76, 229.0], [78, 240.0], [75, 207.0], [73, 205.0], [77, 208.0], [74, 185.0], [72, 190.0], [74, 170.0], [72, 208.0], [71, 225.0], [73, 190.0], [75, 225.0], [73, 185.0], [67, 180.0], [67, 165.0], [76, 240.0], [74, 220.0], [73, 212.0], [70, 163.0], [75, 215.0], [70, 175.0], [72, 205.0], [77, 210.0], [79, 205.0], [78, 208.0], [74, 215.0], [75, 180.0], [75, 200.0], [78, 230.0], [76, 211.0], [75, 230.0], [69, 190.0], [75, 220.0], [72, 180.0], [75, 205.0], [73, 190.0], [74, 180.0], [75, 205.0], [75, 190.0], [73, 195.0]]
(1034, 2)

In [56]:
# Print out the 50th row of np_baseball
print(np_baseball[49])

# Select the entire second column of np_baseball: np_weight_lb
np_weight_lb = np_baseball[:,1]

# Print out height of 124th player
print(np_baseball[123,0])

[ 74. 210.]
76.0

In [57]:
# Create numpy array: conversion to convert to metric units

conversion = np.array([0.0254,0.453592])


# Print out product of np_baseball and conversion
print(np_baseball * conversion)

[[ 1.8796  81.64656]
 [ 1.8796  97.52228]
 [ 1.8288  95.25432]
 ...
 [ 1.905   92.98636]
 [ 1.905   86.18248]
 [ 1.8542  88.45044]]

In [58]:
print(np.mean(np_height_in))

# Print out the median of np_height_in
print(np.median(np_height_in))

73.6972920696325
74.0

In [59]:
# Print mean height (first column)
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

# Print median height. Replace 'None'
med = np.median(np_baseball[:,0])
print("Median: " + str(med))

# Print out the standard deviation on height. Replace 'None'
stddev = np.std(np_baseball[:,0])
print("Standard Deviation: " + str(stddev))

# Print out correlation between first and second column. Replace 'None'
corr = np.corrcoef(np_baseball[:,0], np_baseball[:,1])
print("Correlation: " + str(corr))

Average: 73.6972920696325
Median: 74.0
Standard Deviation: 2.304703041620148
Correlation: [[ 1. nan]
 [nan nan]]

In [63]:
#Import FIFA 2020 dataset for players and their attributes
df_fifa = pd.read_csv('players_20.csv')
df_fifa.head()
#Create positions lists and heights lists
positions = df_fifa['team_position'].tolist()
heights = df_fifa['height_cm'].tolist()

In [64]:
# Convert positions and heights to numpy arrays: np_positions, np_heights
np_positions = np.array(positions)
np_heights = np.array(heights)


# Heights of the goalkeepers: gk_heights
gk_heights =np_heights[np_positions == 'GK']

# Heights of the other players: other_heights

other_heights =np_heights[np_positions != 'GK']
# Print out the median height of goalkeepers. Replace 'None'
print("Median height of goalkeepers: " + str(np.median(gk_heights)))

# Print out the median height of other players. Replace 'None'
print("Median height of other players: " + str(np.median(other_heights)))

Median height of goalkeepers: 188.0
Median height of other players: 181.0